@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-sidebar::-webkit-scrollbar {
        width: 7px;
        height: 20px;

    }

    .scrollbar-sidebar::-webkit-scrollbar-track {
        border-radius: 50vh;
        background: #001D22;
    }

    .scrollbar-sidebar::-webkit-scrollbar-thumb {
        background: #2f7378;
        border-radius: 50vh;
    }

    .scrollbar-sidebar::-webkit-scrollbar-thumb:hover {
        background: #25525b;
    }
    html {
        font-family: Helvetica,Arial, sans-serif;
    }
    
}


